---
layout: "base.njk"
---


<body>
<article>
<div>
  
    <h1 class="arthead">
      {{ title }}
    </h1>
    <hr>
    <article class="content">{{ content | safe }}</article>
    <hr>
    <a href="/index.html" class="back">← back</a>

    <br>
    <br>

    <script src="https://giscus.app/client.js"
        data-repo="rendangbike/blogcms"
        data-repo-id="R_kgDOHO689Q"
        data-category="Q&A"
        data-category-id="DIC_kwDOHO689c4CPmfA"
        data-mapping="title"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
    </script>
    
</div>
</article>
</body>

