---
layout: "base.njk"
---


<body>
<article class="main-article">
<div class="container container--narrow flow">
  
    <h1 class="title">
      {{ title }}
    </h1>

    <p class="content">{{ content | safe }}</p>
    
  
</div>
</article>
</body>

