---
layout: "base.njk"
---


<body>
<article class="main-article">
<div class="container container--narrow flow">
  
    <h1 class="arthead">
      {{ title }}
    </h1>
    <hr>

    <article class="content">{{ content | safe }}</article>
    
  
</div>
</article>
</body>

