    <li>
      <article class="snippet">

        <h3 class="snippet_title">{{ post.data.title }}</h3>
        <p class="snippet__body">{{ post.data.description }}</p> 
        <a href="{{ post.url }}" class="btn btn--primary">Continue Reading</a>

      </article>
    </li>
