<a href="{{ post.url }}">	
    <div class="content">
		<h1 class="header">
			{{ post.data.title }}
		</h1>
        <p>
			{{ post.data.description }}
		</p>
        <div class="tags">{{ post.data.tags }}</div>
    </div>    
</a>


