<a href="{{ post.url }}">	
  <div class="card">
		<header class="w3-blue header">
			<h1>{{ post.data.title }}</h1>
		</header>
		<div class="content">
			<p>{{ post.data.description }}</p>
    </div>    
	</div>
</a>

