---
title: My homepage
layout: "base.njk"
description: test
---

<h1 class="myblog">My Blog</h1>
<div class="options">
</div>
<hr>

  {%- for post in collections.post -%}
  
    {% include "card.njk" %}

  {%- endfor %}

