---
title: My homepage
layout: "base.njk"
description: test
---

<div class="title">My Blog</div>
<div class="options">
  
</div>
<hr>

  {%- for post in collections.post -%}
  
    {% include "card.njk" %}

  {%- endfor %}

