---
title: My homepage
layout: "base.njk"
description: test
---

<div class="title">My Blog</div>
<div class="options">
<dark-mode-toggle
      id="dark-mode-toggle-1"
      dark="Light"
      light="Dark"
  ></dark-mode-toggle>
<hr>

  {%- for post in collections.post -%}
  
    {% include "card.njk" %}

  {%- endfor %}





