@import url('https://fonts.googleapis.com/css2?family=Arimo&family=JetBrains+Mono&family=Open+Sans&display=swap');
@import url("https://www.w3schools.com/w3css/4/w3.css");
:root {
    --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --padding: 0.01em 16px;
    
}

body {
  background-image: url("assets/bg.jpg");
  text-align : center;
  height: 100%;
  text-decoration: none;
}

.title {
    font-family: "Jetbrains Mono", monospace;
    font-size: 500%;
}

.header {
    font-family: 'Arimo', Tahoma, sans-serif;
    padding: var(--padding);
    border-radius: 20px 20px 0px 0px;
}

.content {
    font-family: 'Arimo', Tahoma, sans-serif;
    font-size: 16px;
    padding: var(--padding);
}

/* For the cards */

.card {
    box-shadow: var(--shadow);
    width: 25em;
    border: 2px;
    border-radius: 20px;
    background: #ffffff;
    /* Hover effect from https://ianlunn.github.io/Hover */
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.card:hover, .card:focus, .card:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}